@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@font-face {
    font-family: 'Outage';
    src: url(../fonts/Outage.ttf) format('TrueType');
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: dotted 1px rgba(0, 0, 0, 0.25);
    -moz-transition: border-bottom-color 0.25s ease-in-out;
    -webkit-transition: border-bottom-color 0.25s ease-in-out;
    -o-transition: border-bottom-color 0.25s ease-in-out;
    -ms-transition: border-bottom-color 0.25s ease-in-out;
    transition: border-bottom-color 0.25s ease-in-out;
}

a:hover {
    border-bottom-color: rgba(0, 0, 0, 0);
}


.cover {
    display: table;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: 0;
    padding: 125px auto;
    background: url(../images/bg.jpg) no-repeat center center scroll;
    color: #FFF;

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.cover-container {
    display: table-cell;
    vertical-align: middle;
}

.cover-container .content {
    text-align: center;
}

.cover-container .content .logo {
    margin: auto;
}

.cover-container .content .date,
.cover-container .content .coming-soon {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 36px;
    margin: 0 auto;
}

.content {
    margin: 5% 0;
}

.content .content-background {
    width: 30%;
    margin: 0 auto;
    padding: 5% 0;
    background: rgba(100,100,100,0.6);
}

.date {
    margin: 18px auto;
}

.date-container {
    margin: 12px auto;
}

.register {
    margin: 12px auto 0;
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 200px;
    background: rgba(255, 255, 255, 0.27);
    padding: 20px 20px;
    cursor: pointer;
    border: 0;
    color: #fff;
    font-size: 18px;
    font-family: 'Outage';
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
}
.register:hover {
    background: rgba(255, 255, 255, 0.42);
    color: #fff;
    text-decoration: none;
}
